
    <div class="row">
      <section class="main col-md-9">
        <article>
          <h2>About</h2>
          <p>My name is Kavita Dholariya currently pursuing Computer Programming and Analysis at Seneca College.
            Since having an interest in IT have decided to choose this course. My persevere mindset creates a solid path
            for me in order to learn software solutions and programming languages.
            In addition, my main focus is on Object-Oriented languages.

            My dream is to work in big companies such as Google or Microsoft as a software developer.
            <br><br>I enjoy reading books
            and spent most of my time in learning programming languages. My favorite programming language is C++ and
            favorite book is "Shreemad Bhagavat Geeta".
          </p>
        </article>
      </section>
      <aside class="col-md-3">
        <h2>Comming Soon</h2>
        <p>"Stay tuned for future updates…"</p>
      </aside>
    </div>
  
